@use './helpers' as *;
@use './base';

// #app {
//   width: 100%;
//   overflow: hidden;
// }

#app {
  min-height: 100vh;
  padding-top: rem(16);

  @include media('xl') {
    padding-top: 0;
  }
}

.app-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: calc(var(--content-width) + var(--content-padding) * 2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: rem(50);

  @include media('xl') {
    border-radius: 0;
    max-width: 100%;
    border: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/img/bg.png') repeat;
    pointer-events: none;
    border-radius: inherit;
    opacity: 0.15;
  }
}

main {
  width: 100%;
}

section {
  padding-top: rem(50);
  padding-bottom: rem(50);

  @include media('sm') {
    padding-top: rem(30);
    padding-bottom: rem(30);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.fancybox__slide.has-iframe .fancybox__content {
  padding: 0 !important;

  @include media('sm') {
    max-height: rem(240);
  }
}

@include show('.pricing', true, true);
