@use 'scss/helpers' as *;

.text-h1 {
  font-size: clamp(2.25rem, 0.9968rem + 4.2215vw, 6.0625rem);
  font-weight: 300;
  line-height: 1.2;

  strong,
  b {
    font-weight: 700;
  }
}

.text-h2 {
  font-size: clamp(1.5rem, 0.913rem + 2.6087vw, 3rem);
  line-height: 1.2;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: 300;

  strong,
  b {
    font-weight: 700;
  }
}

.text-h3 {
  font-size: clamp(1.25rem, 0.9565rem + 1.3043vw, 2rem);
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font-secondary);
}

.text-h4 {
  font-size: rem(20);
  font-weight: 900;
  text-transform: uppercase;
  font-family: var(--font-secondary);

  strong,
  b {
    font-weight: 700;
  }
}

.text-h5 {
  font-size: rem(16);
  font-weight: 200;
  text-transform: uppercase;

  strong,
  b {
    font-weight: 700;
  }
}

.text-p {
  font-size: 1rem;
  font-weight: 200;

  @include media('sm') {
    font-size: rem(14);
  }
}
