---
import App from '../App.astro'
import * as Blocks from '@/blocks'
---

<App title="О нас">
  <main>
    <Blocks.About is_main />
    <Blocks.Advantages />
    <Blocks.Reviews />
    <Blocks.Services />
    <Blocks.Projects />
    <Blocks.Register />
    <Blocks.Faq />
  </main>
</App>
