---
import App from '../App.astro'
import * as Blocks from '@/blocks'
---

<App title="Главная">
  <main>
    <Blocks.Hero />
    <Blocks.Advantages />
    <Blocks.About />
    <Blocks.Services />
    <Blocks.Reviews />
    <Blocks.Register />
    <Blocks.Projects />
  </main>
</App>
