---
import App from '../App.astro'
import * as Blocks from '@/blocks'
---

<App title="Полировка кузова авто">
  <main>
    <Blocks.Service />
    <Blocks.Advantages />
    <Blocks.Pricing />
    <Blocks.Included />
    <Blocks.Register />
    <Blocks.Projects />
    <Blocks.About />
    <Blocks.Reviews />
    <Blocks.Faq />
  </main>
</App>
