@use 'scss/helpers' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: rem(30) 0;
  font-weight: 300;
  transition: all 0.4s ease;
  z-index: 100;

  &--scrolled {
    padding: rem(20) 0;
    background: rgba(255, 255, 255, 0.025);
    backdrop-filter: blur(10px);

    .header__burger {
      height: rem(80);
      width: rem(80);
      border-radius: 0;
    }

    .header__logo img {
      height: rem(40);
    }

    .header__catalog {
      border-radius: 0 0 rem(50) rem(50);
    }
  }

  &--open {
    .header__burger {
      span {
        width: 100% !important;

        &:nth-child(1) {
          transform: translateY(rem(10)) rotate(45deg);

          @include media('sm') {
            transform: translateY(rem(8)) rotate(45deg);
          }
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(rem(-10)) rotate(-45deg);

          @include media('sm') {
            transform: translateY(rem(-8)) rotate(-45deg);
          }
        }
      }
    }

    .header__catalog {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }
  }

  @include media('xl') {
    padding: rem(20) 0;
  }
  @include media('sm') {
    padding: rem(10) 0 !important;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: rem(24);

    @include media('xl') {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__burger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: rem(100);
    height: rem(100);
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: rem(50) 0 rem(20) 0;
    cursor: pointer;
    transition: all 0.4s ease;

    @include media('xl') {
      width: rem(76) !important;
      height: rem(76) !important;
      border-radius: 0 !important;
    }
    @include media('sm') {
      width: rem(56) !important;
      height: rem(56) !important;
    }

    &-lines {
      width: rem(45);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: rem(8);

      @include media('sm') {
        width: rem(36);
        gap: rem(6);
      }
    }

    span {
      height: rem(2);
      width: 100%;
      background: white;
      border-radius: 9999px;
      transition: all 0.3s ease;

      &:nth-child(1) {
        width: 60%;
      }

      &:nth-child(2) {
        width: 80%;
      }

      &:nth-child(3) {
        width: 100%;
      }
    }
  }

  &__phone {
    @include media('xl') {
      display: none;
    }

    &:hover {
      color: var(--primary);
    }
  }

  &__logo {
    display: block;

    @include media('xl') {
      margin-left: rem(80);
    }
    @include media('sm') {
      margin-left: rem(60);
    }

    img {
      height: rem(68);
      width: fit-content;
      transition: height 0.2s ease;

      @include media('xl') {
        height: rem(36) !important;
      }
    }
  }

  &__menu {
    @include media('md') {
      display: none;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(40);
    }

    .menu-item a {
      &:hover {
        color: var(--primary);
      }
    }
  }

  &__catalog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    max-height: 80dvh;
    padding: rem(100) rem(40) rem(40);
    color: #fff;
    background: var(--primary);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease;
    overflow-y: auto;
    border-radius: rem(50);

    @include media('xl') {
      border-radius: 0 0 rem(20) rem(20) !important;
    }
    @include media('lg') {
      padding: rem(80) rem(20) rem(60);
      max-height: 100vh;
      border-radius: 0 !important;
    }

    .menu {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: rem(30);
      width: 100%;
      margin: 0 auto;

      & > .menu-item {
        display: flex;
        flex-direction: column;
        gap: rem(16);

        & > a {
          font-size: rem(24);
          font-weight: 700;
          text-transform: uppercase;

          @include media('sm') {
            font-size: rem(20);
          }
        }
      }
    }

    .sub-menu {
      display: flex;
      flex-direction: column;
      gap: rem(10);

      .menu-item a {
        font-size: rem(16);
        font-weight: 300;
        opacity: 0.7;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
