---
import { H2, Image, Icon, Button } from 'ui'
import './index.scss'

const catalogList = [
  {
    name: 'ДЕТЕЙЛИНГ',
    href: '#',
    children: [
      { name: 'Детейлинг химчистка салона', href: '#' },
      { name: 'Детейлинг подкапотного пространства', href: '#' },
      { name: 'Детейлинг подвески с арками', href: '#' },
      { name: 'Детейлинг подвески с арками', href: '#' },
    ],
  },
  {
    name: 'ДРУГИЕ РАБОТЫ',
    href: '#',
    children: [
      { name: 'Перешив-восстановление салона', href: '#' },
      { name: 'Перешив руля', href: '#' },
      { name: 'Звездное небо', href: '#' },
      { name: 'Шумоизоляция салона', href: '#' },
      { name: 'Изготовление и ламинация карбоновых элементов', href: '#' },
      { name: 'Блек пакет и дооснащение на Мерседес G63', href: '#' },
    ],
  },
  {
    name: 'ПОЛИРОВКА',
    href: '#',
    children: [
      { name: 'Полировка кузова авто', href: '#' },
      { name: 'Полировка деталей салона', href: '#' },
      { name: 'Полировка мото техники', href: '#' },
    ],
  },
  {
    name: 'ПОКРЫТИЕ',
    href: '#',
    children: [
      { name: 'Керамическое покрытие кузова', href: '#' },
      { name: 'Керамическое покрытие салона', href: '#' },
      { name: 'Антидождь', href: '#' },
      { name: 'Керамическое покрытие дисков', href: '#' },
    ],
  },
  {
    name: 'ОКЛЕЙКА',
    href: '#',
    children: [
      { name: 'Оклейка антигравийной пленкой', href: '#' },
      { name: 'Оклейка виниловой пленкой', href: '#' },
      { name: 'Оклейка элементов черный глянец', href: '#' },
      { name: 'Бронь стеклянных элементов', href: '#' },
    ],
  },
]
---

<header class="header">
  <div class="container">
    <div class="header__burger">
      <div class="header__burger-lines">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <a href="tel:+79999999999" class="header__phone"> 8 (999) 999-99-99 </a>

    <a href="/" class="header__logo">
      <Image src="logo.svg" alt="logo" />
    </a>

    <nav class="header__menu">
      <ul class="menu">
        <li class="menu-item"><a href="/about">О нас</a></li>
        <li class="menu-item"><a href="/reviews">Отзывы</a></li>
        <li class="menu-item"><a href="/projects">Наши работы</a></li>
        <li class="menu-item"><a href="/contacts">Контакты</a></li>
      </ul>
    </nav>

    <div class="header__catalog">
      <ul class="menu">
        {
          catalogList.map((item) => (
            <li
              class="menu-item"
              class:list={item.children && 'menu-item-has-children'}
            >
              <a href={item.href}>{item.name}</a>

              {item.children && (
                <ul class="sub-menu">
                  {item.children.map((child) => (
                    <li class="menu-item">
                      <a href={child.href}>{child.name}</a>
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</header>
