---
import { Section, H2, H3, P, Image, Icon, Button } from 'ui'
---

<!-- Hero -->
<Section name="hero">
  <H2>.hero</H2>
</Section>

<style lang="scss" is:global>
  @use 'scss/helpers' as *;

  .hero {
    position: relative;
  }
</style>
