---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Included -->
<Section name="included"> .included </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .included {
    position: relative;
  }
</style>
