---
import { Section, H2, H3, P, Image, Icon, Button } from 'ui'
---

<!-- Register -->
<Section name="register">
  <div class="wrapper">
    <form class="register__form the-form">
      <H2><strong>ЗАПишитесь</strong> онлайн</H2>
      <P>Для записи используйте форму ниже либо напишите нам в мессенджеры</P>

      <div class="group-row">
        <div class="register__phone">
          <span>НОМЕР ТЕЛЕФОНА</span>
          <input
            type="text"
            name="phone"
            placeholder="+7 (999) 999-99-99"
            required
          />
        </div>

        <div class="register__socials group-row">
          <a href="#" class="register__socials-item" target="_blank">
            <svg
              width="47"
              height="47"
              viewBox="0 0 47 47"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="47" height="47" rx="15" fill="#0098D9"></rect>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16.384 26.325C16.4371 26.3415 16.4913 26.3543 16.5462 26.3633C16.8939 27.1882 17.2396 28.014 17.5834 28.8405C18.2016 30.3278 18.8246 31.8596 18.961 32.3001C19.1319 32.8421 19.3113 33.2108 19.5079 33.4632C19.6099 33.5919 19.7267 33.7058 19.8643 33.7924C19.9366 33.8365 20.0132 33.873 20.0929 33.9013C20.4861 34.0497 20.845 33.9879 21.0699 33.9124C21.2019 33.8672 21.3275 33.8048 21.4435 33.7268L21.4496 33.7243L24.9225 31.5441L28.9349 34.64C28.9939 34.6853 29.0578 34.7237 29.1267 34.755C29.6084 34.9654 30.0754 35.0396 30.5153 34.9802C30.9528 34.9184 31.3006 34.734 31.5599 34.5249C31.8574 34.283 32.0947 33.9746 32.253 33.6241L32.2641 33.5969L32.2678 33.587L32.2702 33.582V33.5796L32.2715 33.5783C32.2916 33.5247 32.308 33.4697 32.3206 33.4137L35.9828 14.8226C35.9929 14.7629 35.9987 14.7025 36 14.642C36 14.0975 35.796 13.5791 35.318 13.266C34.9075 12.9975 34.4516 12.9852 34.1628 13.0074C33.8531 13.0322 33.5655 13.1089 33.3726 13.1708C33.2648 13.2058 33.1582 13.2446 33.0531 13.2871L33.0395 13.2933L12.4994 21.4053L12.4969 21.4065C12.4273 21.4319 12.3588 21.4604 12.2917 21.4919C12.1288 21.5655 11.9725 21.6533 11.8247 21.7542C11.5457 21.946 10.903 22.4731 11.0124 23.3442C11.0984 24.0371 11.5703 24.464 11.8591 24.6694C12.0164 24.782 12.1664 24.8624 12.277 24.9157C12.3261 24.9404 12.4318 24.9825 12.4773 25.0023L12.4896 25.006L16.384 26.325ZM33.7585 15.0008H33.756L33.724 15.0144L13.1593 23.1376L13.1274 23.15L13.1151 23.1537C13.0774 23.1683 13.0405 23.1849 13.0045 23.2032C13.0388 23.2226 13.0741 23.2404 13.1102 23.2564L16.9714 24.5655C17.0396 24.5909 17.1054 24.6224 17.1681 24.6595L29.9205 17.1426L29.9328 17.1365C29.9826 17.1066 30.0335 17.0785 30.0852 17.0523C30.1737 17.0065 30.315 16.9397 30.4748 16.8902C30.5854 16.8556 30.9135 16.7578 31.2674 16.8729C31.4555 16.932 31.6231 17.0433 31.7509 17.1942C31.8788 17.345 31.9617 17.5292 31.99 17.7254C32.0358 17.8971 32.0371 18.0778 31.9937 18.2501C31.9077 18.5903 31.6717 18.8551 31.4567 19.0581C31.2724 19.2313 28.8809 21.5525 26.5226 23.8441L23.3114 26.9622L22.74 27.519L29.9562 33.0896C30.0536 33.1305 30.1594 33.1475 30.2646 33.1391C30.3176 33.1317 30.3675 33.1094 30.4084 33.0747C30.4582 33.0323 30.5009 32.9822 30.535 32.9262L30.5375 32.925L34.089 14.8932C33.9773 14.9208 33.8677 14.9564 33.7609 14.9996L33.7585 15.0008ZM23.3606 30.3365L21.9203 29.2253L21.5713 31.4587L23.3606 30.3365ZM20.5992 27.0204L22.0309 25.6284L25.242 22.5078L26.4378 21.3471L18.4252 26.0701L18.4682 26.1716C18.9736 27.3736 19.4734 28.5779 19.9675 29.7846L20.3153 27.5574C20.3471 27.3509 20.4471 27.1625 20.5992 27.0204Z"
                fill="white"></path>
            </svg>
          </a>
          <a href="#" class="register__socials-item" target="_blank">
            <svg
              width="47"
              height="47"
              viewBox="0 0 47 47"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                width="47"
                height="47"
                rx="15"
                fill="url(#paint0_linear_27_387)"></rect>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M23.7686 35.9287C21.3151 35.9287 20.175 35.5689 18.1932 34.13C16.9396 35.7488 12.9699 37.0138 12.7968 34.8495C12.7968 33.2248 12.4386 31.8518 12.0327 30.353C11.5492 28.5064 11 26.45 11 23.4703C11 16.3538 16.8142 11 23.7029 11C30.5976 11 35.9999 16.6176 35.9999 23.5363C36.0231 30.3479 30.5507 35.8923 23.7686 35.9287ZM23.8701 17.1512C20.5153 16.9774 17.9006 19.3096 17.3216 22.9667C16.8441 25.9944 17.6917 29.6815 18.414 29.8734C18.7602 29.9573 19.6318 29.2498 20.175 28.7043C21.0732 29.3275 22.1192 29.7018 23.2075 29.7894C26.6836 29.9574 29.6538 27.2995 29.8872 23.8121C30.0231 20.3173 27.3467 17.3572 23.8701 17.1572V17.1512Z"
                fill="white"></path>
              <defs>
                <linearGradient
                  id="paint0_linear_27_387"
                  x1="5.53881"
                  y1="35.7452"
                  x2="47"
                  y2="23.5"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#44CCFF"></stop>
                  <stop offset="0.662" stop-color="#5533EE"></stop>
                  <stop offset="1" stop-color="#9933DD"></stop>
                </linearGradient>
              </defs>
            </svg>
          </a>
        </div>
      </div>

      <button class="register__submit">
        <div class="register__submit-label">онлайн запись</div>
        <div class="register__submit-arrow">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.6169 0.999765C17.6169 0.447481 17.1692 -0.000234596 16.6169 -0.000234849L7.61693 -0.000234049C7.06465 -0.000234386 6.61693 0.447481 6.61693 0.999766C6.61693 1.55205 7.06465 1.99977 7.61693 1.99977L15.6169 1.99977L15.6169 9.99977C15.6169 10.552 16.0646 10.9998 16.6169 10.9998C17.1692 10.9998 17.6169 10.5521 17.6169 9.99977L17.6169 0.999765ZM0.707031 16.9097L1.41414 17.6168L17.324 1.70687L16.6169 0.999766L15.9098 0.292659L-7.55191e-05 16.2026L0.707031 16.9097Z"
              fill="currentColor"></path>
          </svg>
        </div>
      </button>
    </form>

    <div class="register__img">
      <Image src="register.png" />
    </div>
  </div>
</Section>

<style lang="scss" is:global>
  @use 'scss/helpers' as *;

  .register {
    position: relative;

    .wrapper {
      position: relative;
      padding: rem(40);
      width: 100%;
      background: #222431;
      border-radius: rem(35);
      overflow: hidden;

      @include media('sm') {
        padding: rem(20) rem(20) rem(30);
        border-radius: rem(20);
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        pointer-events: none;
      }

      &::before {
        top: 0;
        left: rem(180);
        transform: translateY(-70%);
        width: rem(200);
        height: rem(200);
        background: #586398;
        border-radius: 50%;
        filter: blur(70px);
      }

      &::after {
        bottom: 0;
        right: 0;
        transform: translate(25%, 35%);
        width: rem(380);
        height: rem(380);
        background: #4b3431;
        border-radius: 50%;
        filter: blur(70px);
      }
    }

    &__form {
      position: relative;
      z-index: 2;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(20);

      & > .group-row {
        width: 100%;
        gap: rem(15) rem(20);

        @include media('xs') {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

    &__phone {
      position: relative;
      margin: rem(10) 0;
      padding: rem(10) rem(16);
      width: rem(240);
      border: 1px solid #fff;
      border-radius: 15px;

      @include media('xs') {
        width: 100%;

        input {
          width: 100%;
        }
      }

      span {
        position: absolute;
        padding: 0 rem(4);
        top: 0;
        left: 10px;
        transform: translate(0, -50%);
        background: #222431;
        color: #a9a9a9;
        font-size: rem(12);
        text-transform: uppercase;

        @include media('lg') {
          background: #22243190;
          backdrop-filter: blur(15px);
        }
      }
    }

    &__socials {
      gap: rem(20);

      &-item {
        width: rem(48);
        height: rem(48);
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &__submit {
      width: rem(240);
      height: rem(36);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(8);
      color: #fff;

      &-label {
        height: 100%;
        background: #c86834;
        border-radius: rem(8);
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 8%;
        text-transform: uppercase;
      }

      &-arrow {
        color: #c86834;
        width: rem(36);
        height: rem(36);
        border: 1px solid currentColor;
        border-radius: rem(8);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;

        svg {
          transition: 0.3s ease;
        }
      }

      &:hover {
        .register__submit-arrow svg {
          transform: rotate(45deg);
        }
      }
    }

    &__img {
      position: absolute;
      bottom: 0;
      z-index: 2;
      right: 5%;

      @include media('lg') {
        display: none;
      }
    }
  }
</style>
