---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Service -->
<Section name="service"> .service </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .service {
    position: relative;
  }
</style>
