---
import { Image } from 'ui'
---

<footer class="footer">
  <div class="container"></div>
</footer>

<style lang="scss" is:global>
  @use 'scss/helpers' as *;

  .footer {
    position: relative;
  }
</style>
